@font-face {
  font-family: openSansRegular;
  src: url("../../public/assets/fonts/OpenSans-Regular.woff");
}

@font-face {
  font-family: openSansMedium;
  src: url("../../public/assets/fonts/OpenSans-Medium.woff");
}

@font-face {
  font-family: openSansBold;
  src: url("../../public/assets/fonts/OpenSans-Bold.woff");
}

.header-menu__link.active {
  font-family: openSansBold;
  color: #333;
  border-bottom: 2px solid #e65540;
}
